* {
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
}

body{
    background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

#mainCard {
    width: 1200px;
    height:600px;
    background-color: aqua;
    border-radius: 10px;
    margin: 0 auto;
    background: rgb(252,252,252);
    background: linear-gradient(36deg, rgba(252,252,252,1) 0%, rgba(244,244,244,1) 100%);
    margin-top: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

#mainCardMenu {
    width: 1200px;
    height:600px;
    background-color: aqua;
    border-radius: 10px;
    margin: 0 auto;
    background: rgb(252,252,252);
    background: linear-gradient(36deg, rgba(252,252,252,1) 0%, rgba(244,244,244,1) 100%);
    margin-top: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

#portCardMenu {
    width: 1200px;
    height:600px;
    background-color: aqua;
    border-radius: 10px;
    margin: 0 auto;
    background: rgb(252,252,252);
    background: linear-gradient(36deg, rgba(252,252,252,1) 0%, rgba(244,244,244,1) 100%);
    margin-top: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

#portCardHolder {
    height: 60%;
    width:auto;
    
}

#aboutCardMenu {
    width: 1200px;
    height:600px;
    background-color: aqua;
    border-radius: 10px;
    margin: 0 auto;
    background: rgb(252,252,252);
    background: linear-gradient(36deg, rgba(252,252,252,1) 0%, rgba(244,244,244,1) 100%);
    margin-top: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}
    

#mainCard:hover{
    width: 1200px;
    height:600px;
    background-color: aqua;
    border-radius: 10px;
    margin: 0 auto;
    background: rgb(252,252,252);
    background: linear-gradient(36deg, rgba(252,252,252,1) 0%, rgba(244,244,244,1) 100%);
    margin-top: 100px;
    box-shadow: 7px 7px 73px 0px rgba(0,0,0,0.34);
    animation-duration: 4s;
    text-shadow:7px 7px 73px 0px rgba(0,0,0,0.34) ;  
}

#nameId h4 {
    margin: 0 auto;
    margin-top:210px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-size: 70px;
    color: #424043;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    pointer-events: none;
}

#textMenuCard h1 {
    color: #424043;
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 150;
    font-style: normal;
    pointer-events: none;
    font-size: 20px;

}

#textMenuCard {
    height:300px;
    width:400px;
    margin: 0 auto;
    margin-top: 188px;
}

.nav-link {
    border-right:.5px solid #8C898F;
    padding-right: 5px;
}

#cardMenu {
    background:transparent !important;
}

#quizCard {
    height:200px;
    width: 150px;
    background-image: url(../images/game.png);
    overflow: hidden;
    margin: 60px;
    float:left;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 0px rgba(94, 59, 59, 0.9);
    transform: scale(1);
    transition: all 300ms ease;
    border: .75px solid #424043;
    font-weight: 400;
}

#quizCard2 {
    height:200px;
    width: 150px;
    background-image: url(../images/flower.svg);
    overflow: hidden;
    margin: 60px;
    float:left;
    border-radius: 30px;
    box-shadow: 0px 0px 6px 0px rgba(94, 59, 59, 0.9);
    transform: scale(1);
    transition: all 300ms ease;
    border: .75px solid #424043;
    font-weight: 400;
}

#quizCard:hover {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.34);
    transform: scale(1.1);
}

#quizCard2:hover {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.34);
    transform: scale(1.1);
}

#quizCardText {
    background-color: rgba(244,244,244,.9);
    overflow:hidden;
    padding:5px;
    text-align: center;
    /* height:200px; */
}

#quizCardText h5 {
    font-family: sweet-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    
}

#profilePic {
    height:150px;
    width: 150px;
    background-image: url(../images/me.png);
    overflow: hidden;
    float:left;
    border-radius: 30px;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.8);
    border: .75px solid #424043;
    
}

#profilePicF {
    width: 225px;
    z-index: -1;
    position: absolute;
    top:45px;
    left:-26px;
    overflow: hidden;
    opacity: 10%;
}

#aboutInside {
    height:300px;
    width:70%;
    margin: 0 auto;
    text-align: left;
    margin-top: 145px;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 1000px) {

    .nav-link {
        border-right:0px solid #8C898F;
        
    }

    #aboutInside {
        margin-top: 70px;
        width: 95%;
        
    }
    #nameId h4 {
        margin-top: 160px;
    }

    #aboutCardMenu {
        margin-top: 0px;
        background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    }

    #portCardMenu {
        margin-top: 0px;
        background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    }

    #mainCardMenu {
        margin-top: 0px;
        background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    }

    #mainCard {
        margin-top: 0px;
        background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    }

    #mainCard:hover {
        transition: none;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        margin-top: 0px;
        background-color: #f5f5f5;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    }

    #textMenuCard {
        width:200px;
        margin-top: 140px;
    }

    #nameId {
        padding: 10px;
    }

    #quizCard {
        float: none;
        width:70%;
        margin: 0 auto;
        margin-top: 40px;
        
    }

    #quizCard2 {
        float: none;
        width:70%;
        margin: 0 auto;
        margin-top: 40px;
        
    }
    }

    @media only screen and (max-width : 700px) {
       

    }

    
    

